

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 150px;
    height: 200px;
    text-align: center;
    margin: 20px auto 0px;
}

.parentsParent {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(1,1,1,1);
}

.container {
    padding: 2px 16px;
}

.aParent div {
    float: left;
    clear: none;
    text-align: center;
}

.testContainer {
    text-align: center;
    display: flex;
}

.profileImage {
    width: 50%;
}

.unoImage {
    width: 50px;
    text-align: center;
}